html{
    font-family: monospace;
}

.strikeThrough{
    text-decoration: line-through;
}

.body{
    text-align: center;
    width: 850px;
    margin: auto;
    height: 400px;
    border: 3px solid grey;
    border-radius: 6px;
    overflow-y: auto;

}

.title{
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
    color: lightgray;
}

.addedList{
    font-size: x-large;

}

.listInput{
    width: 792px;
    height: 30px;
    font-size: x-large;
    font-family: monospace;

    
}

.buttonContainer{
    text-align: center;
    width: 850px;
    margin: auto;
    height: 400px;
}

.clearBtn{
    border: transparent;
    background-color: transparent;
    font-size: x-large;
    font-family: monospace;

}

.addBtn{
    font-size: 20px;
    border: transparent;
    background-color: white;
    width: 50px;
    font-size: xx-large;
}
